.cont-page-list__pager {
  display: block;
  margin: 1em 0; }
  .cont-page-list__pager ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0; }
    .cont-page-list__pager ul li {
      list-style-type: none;
      margin: 0 2px;
      padding: 0; }
  .cont-page-list__pager a,
  .cont-page-list__pager span {
    display: block;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 5px; }
  .cont-page-list__pager a:hover {
    background-color: #00a0e6;
    color: #f9f9f9; }
  .cont-page-list__pager-current {
    font-weight: bold; }

.cont-page-list__list {
  display: block;
  margin: 1em 0; }
  .cont-page-list__list::after {
    content: "";
    display: block;
    clear: both; }
  .cont-page-list__list ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd; }
    .cont-page-list__list ul li {
      list-style-type: none;
      margin: 0;
      padding: 1.2em 0;
      clear: both;
      border-bottom: 1px solid #ddd; }
      .cont-page-list__list ul li::after {
        content: "";
        display: block;
        clear: both; }
  .cont-page-list__list-item {
    display: block; }
  .cont-page-list__list-title {
    width: 70%;
    float: right; }
    .cont-page-list__list-title p {
      font-weight: bold;
      font-size: 138%;
      margin: 0; }
  .cont-page-list__list-release-date {
    font-size: small;
    color: #999; }
  .cont-page-list__list-body {
    width: 70%;
    float: right; }
  .cont-page-list__list-link-to-article {
    text-align: right; }
  .cont-page-list__list-thumb {
    float: left;
    width: 25%;
    height: auto;
    background-size: cover;
    background-position: center center; }
    .cont-page-list__list-thumb::after {
      content: " ";
      display: block;
      padding-top: 70%; }
  .cont-page-list__list-a:before {
    content: ' ';
    width: 0;
    height: 0;
    display: inline-block;
    margin-right: 0.2em;
    border-width: 0.35em 0 0.35em 0.6em;
    border-style: solid;
    border-color: #00a0e6;
    border-top-color: transparent;
    border-bottom-color: transparent; }
